---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title = "Visual Problems", description = "" } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {title} {description} />
  </head>
  <body>
    <Header />
    <main class="prose max-w-full px-4 sm:px-6 lg:px-8">

      <h1>{title}</h1>
      <slot />
    </main>
    <Footer />
  </body>
</html>
